* {
    margin: 0;
    padding: 0;
  }
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #DFE6EE;
}
.side-bar > h3 {
    font-size: 1.7rem;
    grid-column: 2;
    display: flex;
    align-self: center;
}

.dashboard-img{
    display: flex;
    align-self: center;
}
ul {
    list-style-type: none;

}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.3fr 70px 2fr;
}
.side-bar {
    text-align: start;
    grid-column: 1;
    grid-row: 1/5;
    font-weight: bold;
    color: white;
    background-color: #1B8ECC;
    padding-left: 10px; 
    padding-right: 50px; 
    column-gap: 15px;
    display: grid;
    grid-template-rows: 100px 20% ;     
    justify-items: center;
    justify-content: start;
    
    

}
.dashboard-img{
    grid-row: 1;
    grid-column: 1;
    height: 65px;
    
}
.menu,.menu-icon {
    grid-column: 2;
    grid-row: 2;
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: repeat(10 , minmax(60px,1fr));
    row-gap: 10px;

    
}
.menu-icon{
    grid-column: 1;   
}
.menu-img{
    height: 40px;
    width: 50px;
    
    
}

.search-bar{
    grid-column: 2/4;
    grid-row: 1/3;
}

.separator, .separator-img{
    grid-row: 6/8;
}
.card {
    box-shadow: 2px 2px 1px #bebbbb;
    border-left: 10px solid #E2AF31;
    padding: 35px;
    border-radius: 15px;
    height: 250px;
    background-color: white;
    display: grid;
    
    
}
.content-icon{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
}
.content-icon > svg {
    width: 35px;
}

.projects-card{
    grid-column: 2/3;
    grid-row: 3;
    display: grid;
    gap: 30px;
    padding: 25px;
    padding-top: 0;

    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.card > p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card > h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
#announ {
    grid-row: 2;
    grid-column: 3;
    align-self: flex-end;
}
#myprojects {
    padding-left: 25px;
    grid-row: 2;
    grid-column: 2;
    align-self: flex-end;
}
.notice {
    grid-row: 3;
    grid-column: 3;
}
.announcements {
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    padding: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    box-shadow: 2px 2px 1px #bebbbb;
}

.announcements div {
    margin: 10px;
}
.announcements p {
    padding-top: 10px;
    font-size: 0.8rem;
}
.search-bar{
    box-shadow: 2px 2px 1px #bebbbb;
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: white;
    padding-bottom: 10px;
}
input[type="search"] {
    appearance: none;
    width: 50%;
    margin-right: 50px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #DFE6EE;
  }
.search-top {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
    font-size: 1.5rem;
    
}
button {
    border-radius: 25px;
    background-color: #1B8ECC;
    color: white;
    width: 136px;
    height: 51px;
    font-weight: bold;
    border: none;
}
.search-bottom {
    grid-row: 2;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(10,80px);
    align-items: center;
    justify-content: space-evenly;
}
.search-bottom img {
    grid-column: 1;
    grid-row: 2;
}
.hi-there {
    grid-column: 2/6;
    grid-row: 2;
    display:flex;
    flex-direction: column;
}

.btn{
    grid-column: 7/-1;
    display: flex;
    grid-row: 2;
    align-items: center;
    gap: 50px;
    grid-row: 2;
}
